PORT=3001

# Clé API partagée avec le back Symfony (sécurisation interne)
API_KEY=change_me_strong_secret_key

MAIL_HOST=smtp.example.com
MAIL_PORT=587
MAIL_SECURE=false
MAIL_USER=your@email.com
MAIL_PASS=yourpassword

MAIL_FROM_NAME=WR602D Game
MAIL_FROM_ADDRESS=no-reply@example.com
